# Docs
AP4DS_2026A_A3 - Milestone 1.pdf
AP4DS_2026A_Rubric_A3_Milestone I NLP.pdf
CLAUDE.md
README.md

# Data files
*.txt
*.csv
*.zip
*.gz

# Python/Jupyter
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
